#userSearch {
    text-align:center;
    justify-content:center;
    width:300px;
  }
  
#searchBtn {
    width:308px;
    margin-left:px;
}
body {
    
    background-image: URL("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
  .inputForm {
    align-self:Center;
    
    border-width:3px;
  }
  .flex {
    
    display: flex;
    background-color:rgba(167, 167, 167, 0);
    flex-direction: column;
    justify-content:center;
    
    text-align:center;
  }
  
  
  .flex-container {
    width:100%;
    justify-content:center;
    margin-top:10%;
  }
  .pokemonCard {
    align-self:Center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: red;
    width: 300px;
    height:300px;
    border-style: ridge;
    border-color:black;
    border-width:3px;
  }
  
  .pokemonCard ul {
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
  
  }
  
  #pokePicture {
    height: 100px;
    width: 120px;
  
  }
  
  .pokepicture-container {
    display: flex;
    justify-content: center;
    background-color: none;
  
  
  }
  
  #nameBar {
    background-color: rgb(0, 132, 9);
    height: 30px;
    color: white;
    font-weight: 500;
    line-height: 30px;
  
  }
  
  #statTable {
    flex-direction:row;
  }